In [2]:
import os
import folium
import geopandas as gpd
import earthpy as et
from pyproj import Proj
import pandas as pd

In [5]:
# Get the data and set working directory
data = et.data.get_data('spatial-vector-lidar')
os.chdir(os.path.join(et.io.HOME, 'earth-analytics'))

Downloading from https://ndownloader.figshare.com/files/12459464
Extracted output to /Users/neeks/earth-analytics/data/spatial-vector-lidar/.

In [8]:
# Create interactive map with default basemap
map_osm = folium.Map(location=[45.5236, -122.6750])
map_osm

In [9]:
# Import SJER plot locations using geopandas
SJER_plot_locations_path = os.path.join("data", "spatial-vector-lidar",
                                        "california", "neon-sjer-site",
                                        "vector_data", "SJER_plot_centroids.shp")

SJER_plot_locations = gpd.read_file(SJER_plot_locations_path)

In [10]:
SJER_plot_locations

,Plot_ID,Point,northing,easting,plot_type,geometry
0,SJER1068,center,4111567.818,255852.376,trees,POINT (255852.376 4111567.818)
1,SJER112,center,4111298.971,257406.967,trees,POINT (257406.967 4111298.971)
2,SJER116,center,4110819.876,256838.760,grass,POINT (256838.760 4110819.876)
3,SJER117,center,4108752.026,256176.947,trees,POINT (256176.947 4108752.026)
4,SJER120,center,4110476.079,255968.372,grass,POINT (255968.372 4110476.079)
5,SJER128,center,4111388.570,257078.867,trees,POINT (257078.867 4111388.570)
6,SJER192,center,4111071.087,256683.434,grass,POINT (256683.434 4111071.087)
7,SJER272,center,4112167.778,256717.467,trees,POINT (256717.467 4112167.778)
8,SJER2796,center,4111533.879,256034.390,soil,POINT (256034.390 4111533.879)
9,SJER3239,center,4109856.983,258497.102,soil,POINT (258497.102 4109856.983)
10,SJER36,center,4110161.674,258277.829,trees,POINT (258277.829 4110161.674)
11,SJER361,center,4107527.074,256961.794,grass,POINT (256961.794 4107527.074)
12,SJER37,center,4107578.841,256148.197,trees,POINT (256148.197 4107578.841)
13,SJER4,center,4109767.289,257228.336,trees,POINT (257228.336 4109767.289)
14,SJER8,center,4110249.265,254738.618,trees,POINT (254738.618 4110249.265)
15,SJER824,center,4110047.586,256185.584,soil,POINT (256185.584 4110047.586)
16,SJER916,center,4109616.679,257460.486,soil,POINT (257460.486 4109616.679)
17,SJER952,center,4110759.039,255871.194,grass,POINT (255871.194 4110759.039)

In [12]:
# Project to WGS 84 and save to json for plotting on interactive map
SJER_plot_locations_json = SJER_plot_locations.to_crs(epsg=4326).to_json()

# Create interactive map and add SJER plot locations
SJER_map = folium.Map([37.12, -119.737],
                  zoom_start=14)

points = folium.features.GeoJson(SJER_plot_locations_json)

In [3]:
df = pd.read_csv('./my_data/Languages.csv')

In [4]:
df

,bookkeeping,category,child_dialect_count,child_family_count,child_language_count,description,family_pk,father_pk,hid,id,jsondata,latitude,level,longitude,macroareas,markup_description,name,newick,pk
0,False,Spoken L1 Language,0,0,0,NaN,86.0,2170.0,aiw,aari1239,"{""meds"": [[""79160"", ""grammar_sketch"", 1990, 69...",5.95034,language,36.57210,Africa,NaN,Aari,'Aari [aari1239][aiw]-l-':1,3867
1,True,Bookkeeping,0,0,0,NaN,335.0,335.0,aay,aari1240,"{""meds"": [[""500083"", ""wordlist_or_less"", 2008,...",NaN,language,NaN,Eurasia,NaN,Aariya,'Aariya [aari1240][aay]-l-':1,1397
2,False,Spoken L1 Language,0,0,0,NaN,187.0,2600.0,aas,aasa1238,"{""meds"": [[""52784"", ""wordlist_or_less"", 1969, ...",-4.00679,language,36.86480,Africa,NaN,Aasax,'Aasax [aasa1238][aas]-l-':1,4263
3,False,Spoken L1 Language,0,0,0,NaN,208.0,19823.0,kbt,abad1241,"{""meds"": [[""320579"", ""grammar_sketch"", 2013, 4...",-9.03389,language,146.99200,Papunesia,NaN,Abadi,'Abadi [abad1241][kbt]-l-':1,21477
4,False,Spoken L1 Language,0,0,0,NaN,146.0,11389.0,abg,abag1245,"{""meds"": [[""64314"", ""wordlist_or_less"", 1970, ...",-6.12028,language,145.66500,Papunesia,NaN,Abaga,'Abaga [abag1245][abg]-l-':1,14265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,False,Spoken L1 Language,0,0,0,NaN,70.0,8331.0,enw,enwa1245,"{""meds"": [[""69753"", ""wordlist_or_less"", 1991, ...",4.68739,language,8.20974,Africa,NaN,Enwan (Akwa Ibom State),'Enwan {Akwa Ibom State} [enwa1245][enw]-l-':1,11129
1996,False,Spoken L1 Language,0,0,0,NaN,70.0,14052.0,env,enwa1246,"{""meds"": [[""306294"", ""wordlist_or_less"", 2013,...",7.15316,language,6.07393,Africa,NaN,Enwan (Edu State),'Enwan {Edu State} [enwa1246][env]-l-':1,16752
1997,False,Spoken L1 Language,0,0,0,NaN,70.0,13932.0,gey,enya1247,"{""meds"": [[""124275"", ""phonology_or_text"", 1971...",0.56000,language,25.15000,Africa,NaN,Enya,'Enya [enya1247][gey]-l-':1,16665
1998,False,Spoken L1 Language,1,0,0,NaN,107.0,2221.0,sja,epen1239,"{""meds"": [[""145062"", ""grammar"", 1994, 227, ""Ph...",4.25877,language,-77.35660,South America,NaN,Epena,('Basurudó [basu1242]':1)'Epena [epen1239][sja...,3900
1999,False,Spoken L1 Language,1,0,0,NaN,70.0,8289.0,epi,epie1238,"{""meds"": [[""146415"", ""wordlist_or_less"", 1967,...",5.00894,language,6.31460,Africa,NaN,Epie,('Atisa [atis1238]':1)'Epie [epie1238][epi]-l-':1,11096

In [6]:
df['latitude'][0],df['longitude'][0]

(5.95034, 36.5721)

In [7]:
UTMx, UTMy = myProj(df['longitude'][0],df['latitude'][0])

NameError: name 'myProj' is not defined